@model ServiceApresVente.Models.Intervention

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center text-danger">Delete Intervention</h1>

<h3 class="text-center">Are you sure you want to delete this intervention?</h3>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h4>Intervention Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Technicien)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Technicien)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DateIntervention)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DateIntervention)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EstSousGarantie)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EstSousGarantie)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CoutMainOeuvre)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CoutMainOeuvre)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CoutTotal)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CoutTotal)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Reclamation)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Reclamation.Id)
                </dd>
            </dl>

            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this intervention?');">Delete</button>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
