@model IEnumerable<ServiceApresVente.Models.Intervention>

@{
    ViewData["Title"] = "Interventions List";
}

<h1>List of Interventions</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Technicien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIntervention)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstSousGarantie)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.CoutMainOeuvre)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.CoutTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reclamation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Technicien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateIntervention)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstSousGarantie)
                </td>
                <td class="text-end">
                    @Html.DisplayFor(modelItem => item.CoutMainOeuvre)
                </td>
                <td class="text-end">
                    @Html.DisplayFor(modelItem => item.CoutTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reclamation.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a> |
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this intervention?');">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
